# Node modules and lockfile
node_modules
.pnpm-store
*.log
dist
.cache
.temp

# IDEs
.vscode
.idea

# System Files
.DS_Store
Thumbs.db

# Testing
coverage

# VitePress
packages/docs/**/cache

#npm
package-lock.json

#env
.env
.env.local
.env.*.local

#act secrets
.secrets